<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action =""method="POST">

    <label for="">Username:</label>
    <input type=="text"name="username" placeholder=" Enter the username">

    <label for="">Firstname:</label>
    <input type=="text"name="First_name" placeholder=" Enter the firstname">
    
    <label for="">Lastname:</label>
    <input type=="text"name="Last_name" placeholder=" Enter the lastname">
    
    <label for="">Email:</label>
    <input type=="emil"name="Email" placeholder=" Enter the Email">

    
    <label for="">Password:</label>
    <input type=="Password"name="Password" placeholder=" Enter the Password">

     
    <label for="">confirmPassword:</label>
    <input type=="Password"name="confirm_Password" placeholder=" Enter the confirmPassword">
    <input type ="submit" value="register">







</form>


</body>
</html>